<!DOCTYPE html>
<html>

<head>
    <title>Sun Burn Recognition - Protect Your Skin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        h1 {
            font-family: "Raleway", Arial, sans-serif
        }

        h1 {
            letter-spacing: 6px
        }

        .w3-row-padding img {
            margin-bottom: 12px
        }
    </style>
</head>

<body>

    <!-- !PAGE CONTENT! -->
    <div class="w3-content" style="max-width:1500px">

        <!-- Header -->
        <header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
            <h1 class="w3-xlarge">Sun Burn Recognition Result</h1>
            <h1>Your sunburn condition Report</h1>

            <div class="w3-padding-32">
                <div class="w3-bar w3-border">
                    <a href="http://protecturskin.social" class="w3-bar-item w3-button">Home</a>
                    <a href="http://protecturskin.social:5000" class="w3-bar-item w3-button w3-light-grey">Sunburn
                        Recognition</a>
                    <a href="http://protecturskin.social:3000" class="w3-bar-item w3-button">Sunburn Knowledge Quiz</a>
                    <a href="#" class="w3-bar-item w3-button w3-hide-small">About</a>
                </div>
            </div>
        </header>

        <!-- Photo Grid -->
        <div class="w3-content w3-padding-large w3-margin-top" id="portfolio">
            <div class="float-container" style="border: 3px solid #fff; padding: 20px;">
                <img src="https://media.healthdirect.org.au/images/inline/original/hd-sun-protection-infographic-3cb19c.png"
                    class="w3-image" width="1000" height="500">
                <div class="float-child" style="width: 50%; float: left; ">
                    <h3 id="second-degree-sunburn-symptoms">{{ss}} sunburn symptoms</h3>
                    <ul>
                        <li>skin that is deep red, especially on light skin.</li>
                        <li>swelling and blistering over a large area.</li>
                        <li>Pain or tenderness.</li>
                        <li>wet-looking, shiny skin.</li>
                        <li>white discoloration within the burned area of skin.</li>
                    </ul>
                    <p>You may also experience:</p>
                    <ul>
                        <li>Fatigue.</li>
                        <li><a href="https://my.clevelandclinic.org/health/symptoms/10880-fever"
                                target="_blank">Fever</a>.
                        </li>
                        <li><a href="https://my.clevelandclinic.org/health/diseases/9639-headaches"
                                target="_blank">Headache</a>.</li>
                        <li><a href="https://my.clevelandclinic.org/health/symptoms/8106-nausea--vomiting"
                                target="_blank">Nausea</a>.</li>
                    </ul>
                </div>
                <div class="float-child" style="width: 50%; float: left; "></div>
                <h3 id="can-i-treat-sunburn-at-home-">Can I treat sunburn at home?</h3>
                <p>You can treat most first and second degree sunburns by yourself at home. Steps you can take include:
                </p>
                <ul>
                    <li>Remove any clothing, pieces of jewelry, or other objects that cover the burn. They may be hot,
                        continuing to burn the skin and intensifying the severity of the burn. If it is not possible to
                        remove clothing without damaging the skin, leave it on.</li>
                    <li>Cool the burn by running it under cool, but not cold, water. Do not apply ice to the burn.</li>
                    <li>Drink plenty of water or electrolyte fluids to prevent dehydration.</li>
                    <li>Cover the burn with gauze or a loose dressing. Do not wrap the cover tightly, as this can cut
                        off circulation.</li>
                    <li>Do not break open blisters.</li>
                    <li>Avoid applying butter or other home remedies, especially immediately after sustaining the burn.
                    </li>
                    <li>Take a cool bath or shower.</li>
                    <li>Take paracetamol, ibuprofen, or acetaminophen to relieve any pain, headaches, or fever.</li>
                    <li>Stay hydrated by drinking plenty of water.</li>
                    <li>Apply cool compresses to the affected area.</li>
                    <li>Avoid sun exposure until the sunburn has healed.</li>
                    <li>Lightly bandage any blistered areas to prevent infection, and apply antiseptic ointment or
                        hydrocortisone cream to the affected area.</li>
                    <li>Apply moisturizing cream, aloe vera, or over-the-counter hydrocortisone cream to the affected
                        area.</li>
                    <li>Regularly moisturize the burn once the wound closes and stops draining. This can speed healing
                        and may reduce or prevent scarring.</li>
                    <li>Avoid rubbing, scratching, or picking at the burn, as this can reopen the wound, increasing the
                        risk of infection.</li>
                    <li>Drink plenty of cool water to flush the stomach and rectum.</li>

                </ul>
            </div>
        </div>


        <!-- Images (Portfolio) -->


    </div>

    <div class="w3-half">

    </div>
    </div>

    <!-- End Page Content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p>Powered by 5 Poor Guys</p>
    </footer>

</body>

</html>